<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/productDisplay.css">
  <title>Coleccion de hombre</title>
  <%- include('../partials/head.ejs') %>  
  <body>
      <!-- aca empieza el header -->
      <%- include('../partials/header.ejs') %>

      <!-- Aca empieza el contenido de la categoria de Hombres -->
      <main>
        <h1>ZAPATOS PARA HOMBRE</h1>
        <p class="info">La colecci칩n de zapatos para hombre se compone de una gran variedad de estilos pensados para la comodidad y el estilo m치s elegante: zapatos de vestir, deportivos, bluchers, mocasines, n치uticos.</p>
        <nav class="product-filter">
                <div class="sort">
                  
                  <div class="collection-sort">
                    <label>POR TIPO:</label>
                    <select>
                      <option value="/">Todo</option>
                      <option value="/">De Vestir</option>
                      <option value="/">Deportivos</option>
                      <option value="/">Mocasines</option>
                      <option value="/">N치uticos</option>
                    </select>
                  </div>
              
                  <div class="collection-sort">
                    <label>POR ORDEN:</label>
                    <select>
                      <option value="/">Destacados</option>
                      <option value="/">Mayor a menor precio</option>
                      <option value="/">Menor a mayor precio</option>
                    </select>
                  </div>
              
                </div>
              
            </nav>
            <section class="products">
              <div class="product-container">
                <% result.forEach( function(elemento) {%>
                <div class="product-card">
                    <a href="/productsStore/detail/<%= elemento.id %>"><img src="/img/products/<%= elemento.image ? elemento.image : '/image/prodsinfoto.jpg' %>" alt="Imagen"></a>
                    <h3 class="product-title"><%= elemento.name %></h3>
                    <span class="product-price">$<%= elemento.price %></span>
                </div>
                <% })%>
              </div>
            </section>
            
      </main>
        <!-- Aca FIN de el contenido produtos de hombre -->
  </body>
      <!-- Aca comienza el FOOTER -->
      <%- include('../partials/footer.ejs') %>
</html> 