<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/detallesProducto.css">
    <title>Old Milano - Detalles de Producto</title>
    <%- include('./partials/head.ejs') %>  
<body>
    <%- include('./partials/header.ejs') %> <!-- Header -->
    <main>
        <div class="masterContainer"> <!-- Version Desktop Inicio -->
            <div class="mainBox">
                <img class="img" src="/img/products/<%= product.image%>" style="width: 50%">
            </div>
            <div class="container1">
                <p class="prodTitle"><%= product.name%></p>
                <p class="prodPrice">$<%= product.price%></p>
                <p class="prodSize">Seleccione su talla</p>
                <div class="container3">
                    <label>TALLE:</label>
                    <select>
                        <option value="30">30</option>
                        <option value="32">32</option>
                        <option value="34">34</option>
                        <option value="36">36</option>
                        <option value="38">38</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="44">44</option>
                        <option value="46">46</option>
                    </select>
                </div>
                <div class="subBox1">
                    <p><%= product.description%></p>
                </div>
                <button type="submit">COMPRAR</button>
                <div class="subBox2">Caracteristicas</div>
                <div class="subBox2">Envios y Devoluciones</div>
                <div class="subBox2">¿Necesitas más información?</div>
            </div>
        </div> <!-- Version Desktop Fin -->
        <div class="masterContainerM"> <!-- Version Mobile Inicio -->
            <p class="detailProduct"><%= product.name%></p>
            <div class="mainBoxM">
                <img class="img" src="/img/products/<%= product.image%>" style="width: 50%">
            </div>
            <div class="descProM">Seleccione una Talla</div>   
            <div class="tallaContainer">
                <label>TALLE:</label>
                    <select>
                        <option value="30">30</option>
                        <option value="32">32</option>
                        <option value="34">34</option>
                        <option value="36">36</option>
                        <option value="38">38</option>
                        <option value="40">40</option>
                        <option value="42">42</option>
                        <option value="44">44</option>
                        <option value="46">46</option>
                    </select>
            </div>  
            <div class="descProductM">
                <p><%= product.description%></p>
            </div>
        <div>          
           <ul class="ListaCollapse">
             <li> <a onclick="this.parentElement.classList.toggle('active');"> Características Tecnicas <i class= "flechita fas fa-chevron-down"></i></a>
                    <div class="info">  
                        <p> Ver descripcion del producto</p>
                    </div>
                </li>
                <li><a onclick="this.parentElement.classList.toggle('active');">Envío y Devoluciones <i class="flechita fas fa-chevron-down"></i></a>
                    <div class="info">
                        <p>Tenés 30 días corridos para devolverlo desde que te llegó.</p>
                    </div>
                </li>
                <li><a onclick="this.parentElement.classList.toggle('active');">Necesitas mas Información? <i class="flechita fas fa-chevron-down"></i></a>
                    <div class="info">
                        <p>Por favor contactanos por e-mail</p>
                    </div>
                </li>
             </ul>         
        </div> 
        </div> <!-- Version Mobile Fin-->
    </main><br><br>
</body>
    <%- include('./partials/footer.ejs') %> <!-- Footer -->
</html>