<!DOCTYPE html>
<html lang="en">
    <link rel = "stylesheet" href=" /css/profile.css">
    <!-- <link rel="stylesheet" href="/css/log-reg.css"> -->
    <title>Informacion del Pefil</title>  
    <%- include('../partials/head.ejs') %>  
    <%- include('../partials/header.ejs')%>
    <body>
        <div class="mainContainer">
            <div class="mainContent">
                <div class="userInfo">
                    <h3>TU PERFIL</h3>
                    <br>
                    <div class="avatar">
                        <% if(avatar){ %>
                            <a href ="/users/profile"><img class="avatarImg" src="/images/users/<%= avatar %>"></a>
                            <% }else{ %>
                                <a src="/images/users/noavatar"></a>
                            <% } %>
                    </div>
                    <br>
                    <p> Nombre: <%= nombre %> <%= apellido %></p> 
                    <br>
                    <p> Tu e-mail: <%= email %> </p>
                    <br>
                    <div class="linksProfile">
                        <form action="/users/edit" method="GET">
                            <input type="submit" value="Editar Perfil">
                        </form>
                        <form action="" method="POST">
                            <input type="submit" value="Borrar Cuenta">
                        </form>
                        <form action="/" method="GET">
                            <input type="submit" value="Volver al Sitio">
                        </form>
                        <form action="/users/logout" method="POST">
                            <input type="submit" value="logout">
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>      