<!DOCTYPE html>
<html lang="en">
    <link rel = "stylesheet" href=" /css/profile.css">
    <!-- <link rel="stylesheet" href="/css/log-reg.css"> -->
    <title>Informacion del Pefil</title>  
    <%- include('../partials/head.ejs') %>  
    <%- include('../partials/header.ejs',{avatar:avatar})%>
    <body>
        <div class="mainContainer">
            <div class="mainContent">
                <div class="userInfo">
                    <h3>TU PERFIL</h3>
                    <br></br>
                    <div class="avatar">
                        <% if(typeof avatar !== 'undefined'){ %>
                            <a href ="/users/profile"><img class="avatarImg" src="/images/users/<%= avatar %>"></a>
                            <% }else{ %>
                                <a src="/images/users/noavatar"></a>
                            <% } %>
                    </div>
                    <br></br>
                    <p> Nombre: <%= nombre %> <%= apellido %></p> 
                    <br></br>
                    <p> Tu e-mail: <%= email %> </p>
                    <br></br>
                    <div class="linksProfile">
                        <a href="#">Editar Perfil</a>
                        <a href="#">Borrar Cuenta</a>
                        <a href="/">Volver al Sitio</a>
                    </div>
                </div> 
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>      